@keyframes fadeDown {
	0% {opacity: 0;}
	50% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeUp {
	0% {opacity: 0;}
	50% {
		opacity: 0;
		transform: translateY(80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}



.nav {
	animation: fadeDown 1.5s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.result-container {
	animation: fadeUp 1.3s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.gutter-horizontal {
	animation: fadeIn 1.3s;
	animation-delay: 1.8s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.code-box {
	animation: fadeUp 1.3s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.js {animation-delay: 1.4s;}
.css {animation-delay: 1.2s;}
.html {animation-delay: 1s;}