:root {
	--animation-speed: 0.7s;
	--initial-delay: 0.4s;
}



/* Actual animations */
@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}



/* General */
.nav {
	animation: fadeDown var(--animation-speed) forwards;
	animation-delay: var(--initial-delay);
	opacity: 0;
}



/* Tri Editor */
.code-box {
	animation: fadeUp var(--animation-speed) forwards;
	opacity: 0;
}
.html {animation-delay: calc(var(--initial-delay) + 0.6s);}
.css {animation-delay: calc(var(--initial-delay) + 0.8s);}
.js {animation-delay: calc(var(--initial-delay) + 1.0s);}

.result-container {
	animation: fadeUp var(--animation-speed) forwards;
	animation-delay: calc(var(--initial-delay) + 1.2s);
	opacity: 0;
}

.tri-editor > .gutter-horizontal {
	animation: fadeIn var(--animation-speed) forwards;
	animation-delay: calc(var(--initial-delay) + 1.4s);
	opacity: 0;
}



/* JS Editor */
.js-box {
	animation: fadeUp var(--animation-speed) forwards;
	animation-delay: calc(var(--initial-delay) + 0.4s);
	opacity: 0;
}

.console-container {
	animation: fadeUp var(--animation-speed) forwards;
	animation-delay: calc(var(--initial-delay) + 0.6s);
	opacity: 0;
}

.js-editor > .gutter-horizontal {
	animation: fadeIn var(--animation-speed) forwards;
	animation-delay: calc(var(--initial-delay) + 0.8s);
	opacity: 0;
}