.code-half {
	float: left;
	height: 100%;
	padding: var(--padding);
	box-sizing: border-box;
	overflow: hidden;
}
.gutter-horizontal {
	float: left;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: col-resize;
}
.result-half {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: var(--padding);
	box-sizing: border-box;
	overflow: hidden;
}
.gutter-vertical {
	height: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: row-resize;
}


.code-container {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	width: 100%;
}
.code-box {
	height: calc(100%/3);
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}