.half {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: var(--padding);
	float: left;
	overflow: hidden;
}
.gutter-horizontal {
	height: 100%;
	width: 10px;
	float: left;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: col-resize;
}



/* Code */
.code-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.code-box {
	height: calc(100% - 2*var(--tab-height) + 10px);
	width: calc(100% - 2*var(--tab-height) + 10px);
	position: absolute;
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.js {
	top: 0;
	right: 0;
	z-index: 1;
}
.css {z-index: 1;}
.html {
	bottom: 0;
	left: 0;
	z-index: 1;
}