.cm-s-kokomo-syntax.CodeMirror {background: #343D46; color: #E5E6DD;}
.cm-s-kokomo-syntax div.CodeMirror-selected {background: #45525c;}
.cm-s-kokomo-syntax .CodeMirror-line::selection, .cm-s-kokomo-syntax .CodeMirror-line > span::selection, .cm-s-kokomo-syntax .CodeMirror-line > span > span::selection {background: #45525c;}
.cm-s-kokomo-syntax .CodeMirror-line::-moz-selection, .cm-s-kokomo-syntax .CodeMirror-line > span::-moz-selection, .cm-s-kokomo-syntax .CodeMirror-line > span > span::-moz-selection {background: rgba(25, 30, 42, 99);}
.cm-s-kokomo-syntax .CodeMirror-gutters {background: #343D46; border-right: 0px;}
.cm-s-kokomo-syntax .CodeMirror-guttermarker {color: white;}
.cm-s-kokomo-syntax .CodeMirror-guttermarker-subtle {color: rgba(112, 122, 140, 66);}
.cm-s-kokomo-syntax .CodeMirror-linenumber {color: #5c6773;}
.cm-s-kokomo-syntax .CodeMirror-cursor {border-left: 1px solid #ffcc66;}

/* Global */
.cm-s-kokomo-syntax span.cm-comment {color: #5c6773; font-style: italic;}
.cm-s-kokomo-syntax span.cm-atom {color: #ae81ff;}
.cm-s-kokomo-syntax span.cm-number {color: #ffcc66;}
.cm-s-kokomo-syntax span.cm-comment.cm-attribute {color: #ffd580;}
.cm-s-kokomo-syntax span.cm-comment.cm-def {color: #d4bfff;}
.cm-s-kokomo-syntax span.cm-comment.cm-tag {color: #5ccfe6;}
.cm-s-kokomo-syntax span.cm-comment.cm-type {color: #5998a6;}
.cm-s-kokomo-syntax span.cm-keyword {color: #ffa759;}
.cm-s-kokomo-syntax span.cm-string {color: #99CE9E;}

/* HTML */
.cm-s-kokomo-syntax span.cm-attribute {color: #C594C5;}  
.cm-s-kokomo-syntax span.cm-type {color: #ffa759;}
.cm-s-kokomo-syntax span.cm-def {color: #ffd580;}
.cm-s-kokomo-syntax span.cm-bracket {color: rgba(92, 207, 230, 80);}
.cm-s-kokomo-syntax span.cm-tag {color: #EE6A6F;}
.cm-s-kokomo-syntax span.cm-tag.cm-bracket {color: #4DB3B3;}
.cm-s-kokomo-syntax span.cm-header {color: #bae67e;}
.cm-s-kokomo-syntax span.cm-link {color: #5ccfe6;}
.cm-s-kokomo-syntax span.cm-error {color: #ff3333;}

/* CSS */
.cm-s-kokomo-syntax span.cm-builtin {color: #C594C5;}
.cm-s-kokomo-syntax span.cm-qualifier {color: #C594C5;}
.cm-s-kokomo-syntax span.cm-property {color: #f29e74;}

/* Javascript */
.cm-s-kokomo-syntax span.cm-variable {color: #cbccc6;}
.cm-s-kokomo-syntax span.cm-variable-2 {color: #f28779;}
.cm-s-kokomo-syntax span.cm-variable-3 {color: #5ccfe6;}


/* Extra */
.cm-s-kokomo-syntax .CodeMirror-activeline-background {background: #282b37;}
.cm-s-kokomo-syntax .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;
}
.cm-s-kokomo-syntax span.CodeMirror-matchingtag {
	background-color: transparent;
	border-bottom: 1px solid yellow;
}