:root {
	--nav-height: 50px;
	--tab-height: 38px;
	--main-radius: 5px;
	--small-radius: 4px;
	--padding: 30px;
	--code-box-margin: 10px;
	--tab-button-dimension: 26px;
}



/* Main */
body {
	height: 100%;
	margin: 0;
	background: linear-gradient(90deg, white, white);
	overflow: hidden;
	z-index: 0;
}
body:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-mask-image: linear-gradient(to bottom, transparent, white);
	background: linear-gradient(90deg, white, white);
	pointer-events: none;
	z-index: 0;
}

body, button, input {font-family: 'Heebo', sans-serif;}

input {display: none;}
button {
	padding: 0;
	outline: 0;
}



/* Nav */
.nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--nav-height);
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
	background-color: #1F2430;
	box-sizing: border-box;
	z-index: 9999;
}

.logo {
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	font-weight: 800;
	font-style: italic;
	background: -webkit-linear-gradient(-45deg, #f745b4, #fcb74c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-container {
	position: absolute;
	left: 50%;
	display: flex;
	transform: translateX(-50%);
}

.button {
	height: 26px;
	min-width: 90px;
	font-size: 15px;
	padding: 0 15px;
	margin: 0 4px;
	color: white;
	background: rgb(107, 179, 250);
	background: linear-gradient(180deg, #53A5FB 0%, rgba(6,125,255,1) 100%);
	border: 0;
	border-radius: var(--small-radius);
	cursor: pointer;
	box-sizing: border-box;
}
.button:active {background: linear-gradient(0deg, #53A5FB 0%, rgba(6, 125, 255, 1) 100%);}



/* Codemirror */
.CodeMirror {
	height: calc(100% - var(--tab-height));
	font-family: 'Fira Code', monospace;
	font-size: 14px;
	border-bottom-left-radius: var(--main-radius);
	border-bottom-right-radius: var(--main-radius);
}

.CodeMirror *::-webkit-scrollbar {
	height: 8px;
	width: 8px;
	background: transparent;
}

.CodeMirror *::-webkit-scrollbar-thumb {
	background: #fff2;
	border-radius: 999px;
}
.CodeMirror *::-webkit-scrollbar-thumb:hover {background: #fff3;}

.CodeMirror-scrollbar-filler {background: transparent;}



/* Editors */
.editor {
	position: relative;
	height: calc(100vh - var(--nav-height));
	width: 100%;
}

.half {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: var(--padding);
	float: left;
	overflow: hidden;
}

.gutter-horizontal {
	height: 100%;
	width: 10px;
	float: left;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: col-resize;
}

.code-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.code-box {
	border-radius: var(--main-radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.result-container {
	height: 100%;
	width: 100%;
	border-radius: var(--main-radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
	transition: all 0.5s;
}

.result {
	height: calc(100% - var(--tab-height));
	width: 100%;
	border: none;
	border-bottom-left-radius: var(--main-radius);
	border-bottom-right-radius: var(--main-radius);
	background-color: white;
}



/* Tab */
.tab {
	display: flex;
	align-items: center;
	height: var(--tab-height);
	width: 100%;
	color: grey;
	background: hsl(300, 1%, 81%);
	background: linear-gradient(to top, hsl(300, 3%, 82%), hsl(300, 7%, 91%));
	border-top-left-radius: var(--main-radius);
	border-top-right-radius: var(--main-radius);
	box-sizing: border-box;
	overflow: hidden;
}

.tab > img {
	height: 20px;
	margin: 0 8px;
	user-select: none;
}

.tab-title {
	font-size: 15px;
	user-select: none;
}
.no-icon-title {margin-left: 15px;}

.config-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--tab-button-dimension);
	width: var(--tab-button-dimension);
	font-size: 17px;
	padding: 0;
	margin-left: auto;
	margin-right: calc((var(--tab-height) - var(--tab-button-dimension))/2);
	border: 0;
	border-radius: var(--small-radius);
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	background: white;
	cursor: pointer;
}
.config-button > img {
	height: 15px;
	user-select: none;
}
.config-button:active > img {filter: invert();}

.resize-toggle-container {
	display: flex;
	margin-left: auto;
	margin-right: calc((var(--tab-height) - var(--tab-button-dimension))/2);
	border-radius: var(--small-radius);
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	overflow: hidden;
}

.resize-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--tab-button-dimension);
	width: calc(var(--tab-button-dimension) + 2px);
	font-size: 17px;
	border: 0;
	color: black;
	background: white;
	cursor: pointer;
}

.resize-toggle > img {
	height: 18px;
	user-select: none;
}

.config-button:active {
	color: white;
	background-color: #888;
}
input[type="radio"]:checked + .resize-toggle, .tab-button:active {background-color: #888;}
input[type="radio"]:checked + .resize-toggle > img {filter: invert();}



/* HTML Config */
.html-config {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 550px;
	background: #f8f8f8;
	border-radius: var(--main-radius);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.config-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 20px;
	background: #777;
	box-sizing: border-box;
}

.config-content > span {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 5px;
	color: white;
}

.config-bottom {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
}

.html-config .CodeMirror {
	height: 100px;
	font-size: 12px;
	border-radius: var(--small-radius);
	box-sizing: border-box;
}

.save-close {
	margin: 0;
	margin-left: auto;
}