:root {
	--nav-height: 50px;
	--tab-height: 38px;
	--radius: 5px;
	--padding: 30px;
	--code-box-margin: 10px;
}



/* Main */
body {
	height: 100%;
	margin: 0;
	background: linear-gradient(90deg, white, white);
	overflow: hidden;
	z-index: 0;
}
body:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-mask-image: linear-gradient(to bottom, transparent, white);
	background: linear-gradient(90deg, white, white);
	pointer-events: none;
	z-index: 0;
}

input[type="radio"] {display: none;}



/* Nav */
.nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--nav-height);
	width: 100%;
	background-color: #1F2430;
	font-family: 'San Francisco', sans-serif;
	font-weight: 500;
	font-size: 16px;
	z-index: 9999;
}

.logo {
	font-family: 'Fugaz One', cursive;
	font-size: 25px;
	margin-left: 15px;
	color: #fff6;
	user-select: none;
}

.button-container {
	position: absolute;
	left: 50%;
	display: flex;
	transform: translateX(-50%);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(107, 179, 250);
	background: linear-gradient(180deg, #53A5FB 0%, rgba(6,125,255,1) 100%);
	width: 90px;
	height: 26px;
	font-family: 'San Francisco', sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding: 0;
	margin: 0 4px;
	color: white;
	border: 0;
	border-radius: var(--radius);
	outline: 0;
	cursor: pointer;
}
.button:active {
	background: linear-gradient(0deg, #53A5FB 0%, rgba(6, 125, 255, 1) 100%);
}

.layout-container {
	position: relative;
	margin-right: 15px;
}

.layout-select {
	height: 35px;
	font-family: 'San Francisco', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 0 12px;
	color: white;
	background: transparent;
	border: 2px solid #fff4;
	border-radius: var(--radius);
	outline: 0;
	cursor: pointer;
	box-sizing: border-box;
}
.layout-select:hover {background: #fff1;}

.layout-options {
	position: absolute;
	right: 0;
	display: none;
	flex-direction: column;
	padding: 10px;
	margin-top: 5px;
	background: white;
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.flex {display: flex;}

.layout {
	display: flex;
	align-items: center;
	opacity: 0.5;
	font-size: 14px;
	padding: 8px;
	border-radius: 3px;
	cursor: pointer;
}
.layout:hover {opacity: 1;}
input[type="radio"]:checked + .layout {
	opacity: 1;
	background: #eee;
}



/* Codemirror */
.CodeMirror {
	height: calc(100% - var(--tab-height));
	font-family: 'Fira Code', monospace;
	font-size: 14px;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}



/* Editors */
.editor {
	position: relative;
	height: calc(100vh - var(--nav-height));
	width: 100%;
}

.half {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: var(--padding);
	float: left;
	overflow: hidden;
}

.gutter-horizontal {
	height: 100%;
	width: 10px;
	float: left;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: col-resize;
}

.code-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.code-box {
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.result-container {
	height: 100%;
	width: 100%;
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
	transition: all 0.5s;
}

.result {
	height: calc(100% - var(--tab-height));
	width: 100%;
	border: none;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	background-color: white;
}



/* Tab */
.tab {
	display: flex;
	align-items: center;
	height: var(--tab-height);
	width: 100%;
	font-family: 'San Francisco', sans-serif;
	font-weight: 400;
	margin: 0;
	background: hsl(300, 1%, 81%);
	background: linear-gradient(to top, hsl(300, 3%, 82%), hsl(300, 7%, 91%));
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	padding: 0 12px;
	box-sizing: border-box;
	overflow: hidden;
}

.circle-container {
	display: flex;
	justify-content: space-between;
	min-width: 52px;
}

.circle {
	--circle-dimension: 13px;
	height: var(--circle-dimension);
	width: var(--circle-dimension);
	border-radius: 50%;
}
.circle:nth-child(1) {background-color: #F75F5A;}
.circle:nth-child(2) {background-color: #FABC43;}
.circle:nth-child(3) {background-color: #37C34A;}

.tab-title {
	font-size: 16px;
	font-weight: 500;
	margin-left: 10px;
	color: grey;
}



/* Sizes */
.result-size-container {margin-left: auto;}

.icon-label {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: 30px;
	font-size: 17px;
	font-weight: 400;
	margin: 2px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	color: black;
	background: white;
	cursor: pointer;
}
input[type="radio"]:checked + .icon-label {
	background-color: grey;
	color: white;
}