.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%/3);
	padding: 10px 0;
	border-radius: var(--small-radius);
	opacity: 0.5;
	cursor: pointer;
}
.layout:hover {opacity: 1;}
input[type="radio"]:checked + .layout {
	opacity: 1;
	background: #eee;
}

.layout-icon {
	--a: 34px;
	--b: calc(var(--a)*0.07);
	position: relative;
	height: var(--a);
	width: var(--a);
	margin-right: 10px;
}

.layout-icon span {
	border: 2px solid black;
	border-radius: 3px;
	background: white;
	box-sizing: border-box;
}