---
title: "LOLCODE"
extension: "lol"
bin: "lci"
version: 1.0.0
---

<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/addon/mode/simple.min.js"></script>

	<style>
		:root {--gradient: #F4E2D8, #BA5370;}
		.log-id {color: pink;}
	</style>
</head>

<body class="regular-body {{ page.extension }}-body">
	{% include nav.html %}

	<div class="editor-content">
		<div class="half code-half">
			<div class="code-box">
				<div class="tab">
					<img class="lang-icon" src="{{ site.baseurl }}/icons/languages/{{ page.extension }}.png">

					<span class="tab-title">{{ page.title }}</span>

					<div class="result-btn-container">
						<button class="tab-btn samples-btn"><i class="fas fa-caret-down"></i>Sample Programs</button>
					</div>
				</div>
				<textarea id="{{ page.extension }}-editor"></textarea>
				<div class="samples-dropdown">
					<div class="sample-option" data-sample="visible">Hello World</div>
					<div class="sample-option" data-sample="increment">Count 1-10</div>
					<div class="sample-option" data-sample="exponent">Calculate Exponent</div>
				</div>
			</div>
		</div>

		<div class="half result-half">
			<div class="console-container">
				<div class="tab">
					<span class="tab-title iconless-tab-title">Console</span>
					<div class="result-btn-container">
						<button class="tab-btn console-clear-btn"><i class="far fa-trash-alt"></i>Clear Console</button>
					</div>
				</div>
				<div id="console"></div>
			</div>
		</div>
	</div>

	<script src="{{ site.baseurl }}/js/main.js"></script>
	<script src="{{ site.baseurl }}/js/lolcode.js"></script>
	<script>
		// CodeMirror
		var {{ page.extension }} = CodeMirror.fromTextArea(document.getElementById("{{ page.extension }}-editor"), {
			mode: "lolcode",
			theme: "kokomo-syntax",
			lineWrapping: true,
			lineNumbers: true,
			matchBrackets: true,
			autoCloseBrackets: true,
			smartIndent: true,
			tabSize: 4,
			indentUnit: 4,
			indentWithTabs: true,
			scrollPastEnd: true,
			autoRefresh: true
		});



		// Specific samples
		$(".sample-option").click(function() {
			var sample = $(this).attr("data-sample");
			switch (sample) {
				case "visible":
					sampleCode = `HAI 1.3
	VISIBLE \"Hello world!\"
KTHXBYE`;
					break;
				case "increment":
					sampleCode = `HAI 1.3
	I HAS A var ITZ 0
	IM IN YR loop UPPIN YR var TIL BOTH SAEM var AN 10
		VISIBLE SUM OF var AN 1
	IM OUTTA YR loop
KTHXBYE`;
					break;
				case "exponent":
					sampleCode = `HAI 1.3
	HOW IZ I exponentFunction YR base AN YR exp
		I HAS A index ITZ 0
		I HAS A total ITZ 1

		IM IN YR loop UPPIN YR index TIL BOTH SAEM index AN exp
			total R PRODUKT OF total AN base
		IM OUTTA YR loop

		FOUND YR total
	IF U SAY SO
		
	VISIBLE I IZ exponentFunction YR 2 AN YR 4 MKAY
KTHXBYE`;
					break;
			}
			sampleCode.substring(1);
			{{ page.extension }}.setValue(sampleCode);
		});
	</script>
	{% include run-js.html %}
</body>

</html>