<script>
	function log(msg) {
		if (!msg.startsWith("\n")) msg.replace(/^\\n/, "");
		if (!msg.endsWith("\n")) msg += "\n";
		$("#console").append("<span class=\"log-id\">$ {{ page.bin }} main.{{ page.extension }}</span>", "\n", msg, "\n");
	}

	// Run backend binary file
	$(".run").click(function() {
		$.ajax({
			type: "GET",
			data: {
				code: {{ page.extension }}.getValue(),
				extension: "{{ page.extension }}",
				bin: "{{ page.bin }}",
				options: "{{ page.options }}"
			},
			url: "https://kokomo-backend.herokuapp.com/shell.php",
			success: function(xhr) {
				log(xhr);
			},
			error: function() {
				log("<span class=\"log-error\">Error, possible loop</span>");

			}
		});
	});
</script>