<script>
	// Specific samples
	$(".sample-option").click(function() {
		var sampleCode = samples[$(this).attr("data-sample")].replace(/\n/, "").replace(/\n$/, "");
		{{ page.extension }}.setValue(sampleCode);
	});



	// Log to terminal function
	function log(msg) {
		$("#terminal").html(msg);
	}



	// Run backend binary file
	$(".run").click(function() {
		$("#terminal").html("");
		$("#terminal").append("<div class=\"log-waiting\"></div>");
		$(".log-waiting").show();

		$.ajax({
			type: "GET",
			data: {
				code: {{ page.extension }}.getValue(),
				extension: "{{ page.extension }}",
				bin: "{{ page.bin }}",
				options: "{{ page.options }}"
			},
			url: "https://kokomo-backend.herokuapp.com/shell.php",
			success: function(xhr) {
				log($.trim(xhr));
			},
			error: function() {
				log("<span class=\"log-error\">Error: shell timed out</span>");
			},
			timeout: 5000
		});
	});



	setInterval(function() {
		var that = $(".log-waiting");
		if (that.text().length < 3) that.text(that.text() + ".");
		else that.text("");
	}, 300);
</script>